/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

html {
  font-size: 62.5%; /* Sets 1rem to 10px (since 1rem = 10px when 62.5% of 16px = 10px) */
}

body {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.6rem; /* Equivalent to 16px */
  line-height: 1.6; /* 1.6 times the font size */
  letter-spacing: 0.005em;
  word-spacing: 0.01em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.01em;
}

header {
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

section p {
  text-indent: 20px;
}

a {
  color: #a66;
}

a:visited {
  color: #663399;
}

a:hover {
  color: #ff6600;
  text-decoration: none;
}

a:focus {
  color: #cc3300;
  text-decoration: none;
}
